body{
  color: lightgreen;
  width: 75%;
  margin: auto;
}
header{

}

.cabecera{
  text-align: center;
  font-family: fantasy;
  padding: 5px;
  background-color: purple;
}
.menu ul{
  text-align: left;
  font-family: fantasy;
  padding: 2px;
  border-style: inset;
  border-color: lightgreen;
  background-color: purple;


  list-style: none;
  display: flex;
}

.menu a{
  margin: 10px;
  text-decoration: none;
  color: lightgreen;
}
#contenedor{
  border-style: groove;
  border-color: yellow;
  width: 100%;
}
.articulo{
  text-align: center;

  margin: 10px;
  padding: 5px;
  border-style: groove;
  border-color: yellow;

  max-width: 150px;
  max-height: 250px;

  float: left;
}
.img{
  width: 150px;

}
#pie{
  text-align: center;
  font-family: fantasy;
  padding: 10px;
  width: 100%;
  background-color: purple;
  float: left;
}
